.logo {
  background-image: url(src/assets/HRIS_logo.png);
  height: 100px;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.fill-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 48px !important;
}
