.logo {
  background-image: url(src/assets/HRIS_logo.png);
  height: 100px;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.fill-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 48px !important;
}

/* .mat-menu-item {
  height: 38px !important;
} */

button.mat-menu-item,
.mat-menu-content,
.mat-menu-panel {
  background-color: #00468B !important;
  color: white;
}

a.mat-menu-item {
  height: 30px !important;
  min-width: 280px !important;
}

/* button.mat-menu-item:hover {
  color: lightgreen !important;
} */
