<div class="logo bg-white d-block mh-100">
</div>

<mat-toolbar class="bg-primary shadow border-top border-bottom border-white">
  <a class="btn btn-link btn-sm text-white text-decoration-none" [routerLink]="['/home']" routerLinkActive="active"><i
      class="bi bi-house"></i> Home</a>
  <a class="btn btn-link text-white text-decoration-none btn-sm" [matMenuTriggerFor]="staffMenu"><i class="bi bi-person-lines-fill"></i>
    Staff <span class="caret"></span></a>
  <mat-menu #staffMenu="matMenu" yPosition="below">
    <button mat-menu-item>Active Staff (DHS & HRA)</button>
  </mat-menu>
  <a class="btn btn-link text-white text-decoration-none btn-sm" [matMenuTriggerFor]="reportMenu"><i class="bi bi-list"></i>
    Reports <span class="caret"></span></a>
  <mat-menu #reportMenu="matMenu" yPosition="below">
    <button mat-menu-item>Classification Report</button>
    <button mat-menu-item>Customer Service Complaints Report</button>
  </mat-menu>
  <a class="btn btn-link text-white text-decoration-none btn-sm" [routerLink]="['/home']" routerLinkActive="active"><i
      class="bi bi-eye"></i>
    My Info </a>
  <a class="btn btn-link text-white text-decoration-none btn-sm" [matMenuTriggerFor]="toolMenu"><i class="bi bi-tools"></i>
    Tools <span class="caret"></span></a>
  <mat-menu #toolMenu="matMenu" yPosition="below">
    <button [routerLink]="['/user']" routerLinkActive="active" mat-menu-item>Manage Admin Users</button>
    <button [routerLink]="['/announcement']" routerLinkActive="active" mat-menu-item>Manage Announcement</button>
  </mat-menu>
  <a class="btn btn-link text-white text-decoration-none btn-sm" [routerLink]="['/home']" routerLinkActive="active"><i
      class="bi bi-link"></i>
    Quick Links <i class="caret"></i></a>
  <span class="example-spacer"></span>
  <span>
    <a class="btn btn-link text-white text-decoration-none btn-sm" [routerLink]="['/developer']"
      *ngIf="currentUser$ | async as user" routerLinkActive="active"><i class="bi bi-person-fill text-success"></i>
      {{user.lastName}} {{user.firstName}}</a>
  </span>

</mat-toolbar>
