/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* Importing Bootstrap SCSS file. */
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~font-awesome/css/font-awesome.min.css";

html,
body {
  height: 100%;
  font-size: 14px !important;
}

body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  min-height: 600px;
  padding: 0;
  font-size: 14px !important;
  background: url(../src/assets/bg.jpg) repeat-x;
  background-color: white !important;
}

.menu_link {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
}

.menu_link:hover {
  color: white !important;
}

.dropdown-menu li {
  margin-left: -10px !important;
}



// .table td {
//   vertical-align: middle !important;
// }

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 100% !important;
}


tr.mat-row,
tr.mat-footer-row {
  height: auto !important;
}

tr.mat-header-row {
  height: 30px !important;
  background-color: #e5eefe !important;

}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 4px !important;
  vertical-align: middle !important;
  border: solid 1px rgba(158, 158, 158, 0.575) !important;
}


th.mat-header-cell {
  font-weight: 700;
  font-size: 14px;
  color: #333;
}

.mat-dialog-container {
  overflow: inherit !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #0071ba !important;
  color: white !important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #0071ba !important;
  color: white !important;
  font-weight: 600;
}

input[type="file"] {
  height: auto;
}

/*.table-bordered th, .table-bordered td {
  border-color: #d9edf7 !important;
}*/

$primary: #00468B;
$info: #4cb5ca;
$secondary: #128FC8;
$light: gray;
$warning: orange;
/*$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;*/
@import "~bootstrap/scss/bootstrap";

/*@import "bootstrap";*/

.no-padding .mat-dialog-container {
  padding: 0 !important;
}

.demo-row-is-clicked {
  background-color: #ffc107 !important;
}

// .mat-row:hover .mat-cell {
//   border-color: currentColor;
// }

// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.cdk-overlay-container {
  position: fixed !important;
  z-index: 2000 !important;
}

.carousel {
  max-height: 190px !important;
  min-height: 190px !important;
}

// li.ng-star-inserted {
//   background-color: #1d4288;
// }

.btn-xs {
  padding: 4px 4px 4px 4px;
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
}

.col-form-label-sm,
.card-header,
.btn-sm {
  font-size: 14px !important;
}

.snackbarInfo {
  background: #128FC8;
  color: white;
}

.snackbarWarning {
  background: orange !important;
  color: black;
}

.snackbarError {
  background: #dd0000 !important;
  color: black;
}


.mat-menu-panel {
  max-width: 380px !important;
}

.mat-menu-item {
  height: 38px !important;
}

.nav-tabs .nav-link {
  background-color: #e5eefe;
}

.nav-link.active,
.nav-item.show .nav-link {
  background-color: #128fc8 !important;
  color: #fafafa !important;
  border-color: #4cb5ca !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: #00468B !important;
}

.bg-offwhite{
  background-color: whitesmoke !important;
}