<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary">
    <i class="bi bi-broadcast-pin"></i> Manage Announcement <span *ngIf="resultsLength > 0; else noDataFound"> <code
        class="text-white">(Total: {{ resultsLength | number}})</code></span>
  </div>
  <div class="nomat-progress-bar" *ngIf="!isLoadingResults"></div>
  <mat-progress-bar mode="query" [hidden]="!isLoadingResults"></mat-progress-bar>
  <div class="card-body">
    <div class="row">
      <div class="col-3 offset-10 mb-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddNew(addAnnouncement)">
          <i class="fa fa-plus-circle fa-fw text-warning"></i>Add New
        </button>
      </div>

      <div class="col-lg-12">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Filter By</span>
          </div>
          <input type="text" class="form-control" (keyup)="applyFilter($event)" [(ngModel)]="filterValue"
            placeholder="ID / Title" #input>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="example-container table-responsive">
          <table mat-table [dataSource]="data" matSort matSortActive="created" matSortDirection="desc" matSort
            class="table table-hover">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row"><button class="btn btn-sm btn-link text-secondary bi bi-eye"
                  (click)="onShow(showAnnouncement, row.id)">&nbsp;{{row.id}}</button></td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
              <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
              <td mat-cell *matCellDef="let row"><i [ngClass]="row.priority !== 1 ? 'text-secondary' : 'text-light'"
                  class="bi bi-arrow-up-circle-fill text-primary" (click)="onPriorityClick(true, row)"></i>
                {{row.priority}} <i [ngClass]="row.priority !== row.total? 'text-secondary' : 'text-light'"
                  class="bi bi-arrow-down-circle-fill " (click)="onPriorityClick(false, row)"></i></td>
            </ng-container>
            <ng-container matColumnDef="durationRestricted">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration Restricted</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.durationRestricted === false">No</span>
                <span *ngIf="row.durationRestricted === true">Between : {{row.displayAfter}} &
                  {{row.displayUntil}}</span></td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row"><label class="font-weight-bold"
                  [ngClass]="{'text-success':row.status ==='Showing','text-warning':row.status =='Disabled','text-danger':row.status =='Expired'}">
                  {{row.status}}</label></td>
            </ng-container>
            <ng-container matColumnDef="updatedBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
              <td mat-cell *matCellDef="let row">{{row.updatedBy}}</td>
            </ng-container>
            <ng-container matColumnDef="dateUpdated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Updated</th>
              <td mat-cell *matCellDef="let row">{{row.dateUpdated}}</td>
            </ng-container>
            <ng-container matColumnDef="editOption">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row"><a class="btn btn-sm text-secondary" #announcement
                  (click)="onEdit(addAnnouncement, row.id)"><i class="fa fa-pencil-square-o"></i>Edit</a></td>
            </ng-container>
            <ng-container matColumnDef="deleteOption">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row"><a class="btn btn-sm text-danger"
                  (click)="onDelete(deleteAnnouncement, row)"><i class="bi bi-trash"></i>Delete</a></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true;" class="thead-light;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="reportParam.pagination.pageSize"
          [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteAnnouncement>
  <div class="card">
    <div class="card-header text-warning bg-primary border-primary">
      Delete Confirmation <i class="bi bi-x-circle float-right" (click)="onCancelClick()"></i>
    </div>
    <div class="card-body">
      <h5>Are you sure you want to delete announcement with title <b>({{selectedAnnouncement.title}})</b>?</h5>
    </div>
  </div>
  <div class="card-footer border-top border-primary">
    <button class="btn btn-primary btn-sm col-3 float-right"
      (click)="onDeleteConfirm(selectedAnnouncement.id)">Yes</button>
    <button class="btn btn-secondary btn-sm col-3 float-right mr-2 " (click)="onCancelClick()">No</button>
  </div>
</ng-template>

<ng-template #addAnnouncement>
  <form #f="ngForm">
    <div class="card border-primary">
      <div class="card-header text-warning bg-primary border-primary">
        {{announcementForm.title}} {{announcementForm.message}}<i class="bi bi-x-circle float-right"
          (click)="onCancelClick()"></i>
      </div>
      <div class="card-body">
        <div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9 form-check">
              <input type="checkbox" class="form-check-input" name="defaultImage"
                [(ngModel)]="announcementForm.defaultImage" id="defaultImage" (change)="defaultImageChange()">
              <label class="form-check-label" for="defaultImage">
                Use Default Image
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">
              Select Image
            </label>
            <div class="col-sm-9">
              <input #fileUpload id="fileUpload" type="file" (change)="fileChange($event)"
                [disabled]="!!announcementForm.defaultImage" class="form-control form-control-sm">
              <code class="text-danger"
                *ngIf="announcementForm.fileUploadMessage.length > 0">{{announcementForm.fileUploadMessage}}</code>
            </div>
          </div>
          <div class="form-group row">
            <label for="imageURL" class="col-sm-3 col-form-label col-form-label-sm">Image Url</label>
            <div class="col-sm-9">
              <input type="text" name="imageURL" class="form-control form-control-sm" id="imageURL" [disabled]="true"
                [(ngModel)]="announcement.imageURL">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label col-form-label-sm">Title</label>
            <div class="col-sm-9">
              <input type="text" name="title" class="form-control form-control-sm" id="title" autocomplete="false"
                required [(ngModel)]="announcement.title" maxlength="100" #title="ngModel">
              <code class="text-danger" *ngIf="!title.valid && !title.untouched">Valid Tite Required</code>
            </div>
          </div>
          <div class="form-group row">
            <label for="content" class="col-sm-3 col-form-label col-form-label-sm">Content</label>
            <div class="col-sm-9">
              <textarea name="content" class="form-control form-control-sm" id="content" autocomplete="false" required
                [(ngModel)]="announcement.content" maxlength="250" #content="ngModel"></textarea>
              <code class="text-danger" *ngIf="!content.valid && !content.untouched">Valid Content Required</code>
            </div>
          </div>
          <div class="form-group row">
            <label for="link" class="col-sm-3 col-form-label col-form-label-sm">Attachment Url</label>
            <div class="col-sm-9">
              <input type="text" name="link" class="form-control form-control-sm" id="link" autocomplete="false"
                [(ngModel)]="announcement.link" maxlength="200" #link="ngModel">
              <code class="text-danger" *ngIf="!link.valid && !link.untouched">Valid Link Required</code>
            </div>
          </div>
          <div class="form-group row">
            <label for="roles" class="col-sm-3 col-form-label col-form-label-sm">User Role</label>
            <div class="col-sm-9">
              <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="announcement.roles" class="" id="roles"
                name="selectedRoles" placeholder="Select Role" required>
                <ng-option *ngFor="let role of roles" [value]="role.roleID">{{role.description}}</ng-option>
              </ng-select>
              <code class="text-danger"
                *ngIf="announcement.roles.length === 0 && (f.controls['selectedRoles'] !== undefined)?!f.controls['selectedRoles'].untouched:false">Role
                Required</code>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9 form-check">
              <input type="checkbox" class="form-check-input" name="durationRestricted"
                [(ngModel)]="announcement.durationRestricted" id="durationRestricted">
              <label class="form-check-label" for="durationRestricted">
                Duration
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Display Range</label>
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <mat-date-range-input class="form-control" [rangePicker]="picker"
                  [disabled]="!announcement.durationRestricted">
                  <input matStartDate placeholder="Start date" name="displayAfter"
                    [(ngModel)]="announcementForm.bsStartDateValue" [disabled]="!announcement.durationRestricted">
                  <input matEndDate placeholder="End date" name="displayUntil"
                    [(ngModel)]="announcementForm.bsEndDateValue" [disabled]="!announcement.durationRestricted">
                </mat-date-range-input>

                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">
                    <span (click)="picker.open()"><i class="bi bi-calendar-range-fill"
                        [ngClass]="{'text-info': announcement.durationRestricted}"></i></span>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer border-top border-primary">
        <button class="btn btn-primary btn-sm col-3 float-right" type="submit"
          [disabled]="!f.valid || announcementForm.isBusy || validateForm()" (click)="onSubmit(f)">Save</button>
        <button class="btn btn-secondary btn-sm col-3 float-right mr-2 " (click)="onCancelClick()"
          [disabled]="announcementForm.isBusy">Cancel</button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #noDataFound>
  &nbsp; <span class="badge badge-warning"> No Result</span>
</ng-template>
<ng-template #showAnnouncement>
  <app-carousel></app-carousel>
</ng-template>
