// table {
//   width: 100%;
// }

// .table-container {
//     height: 400px;
//     overflow: auto;
//   }

.history-link {
  cursor: pointer;
  color: #4cb5ca;
  font-weight: 600;
}

table {
  width: 100%;
}

.table-container {
    height: 400px;
    overflow: auto;
  }