<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary shadow">
    <i class="bi bi-funnel"></i> Active Staff - Displays all staff where PMS leave status is ACTIVE ('B'). (DHS & HRA)
    <i [ngClass]="{'bi bi-arrows-expand shadow': isCollapsed}" class="bi bi-arrows-collapse pull-right shadow"
      (click)="isCollapsed = !isCollapsed"></i>
  </div>
  <div class="card-body" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="col-12">
      <div class="form-group row"
        *ngIf="this.loginService.currentUser.roleID == 1 || this.loginService.currentUser.roleID == 2 || this.loginService.currentUser.roleID == 3 || this.loginService.currentUser.roleID == 4">
        <label for="rcs" class="col-sm-2 col-form-label col-form-label-sm">RC</label>
        <div class="col-sm-10">
          <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedRC" id="rcs" name="selectedRC"
            placeholder="Select RC" (change)="onRCSelect($event)">
            <ng-option *ngFor="let rc of rcs" [value]="rc.code">{{rc.description}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <label for="dps" class="col-sm-2 col-form-label col-form-label-sm">DP</label>
        <div class="col-sm-10">
          <ng-select [items]="filteredDPs" bindLabel="dpName" bindValue="dpCode" groupBy="rcCode"
            [(ngModel)]="selectedDP" [multiple]="true" [hideSelected]="true" placeholder="Select DP" id="dps"
            name="selectedDP">
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.rcCode || 'Unnamed group'}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <label for="Location" class="col-sm-2 col-form-label col-form-label-sm">Location</label>
        <div class="col-sm-10">
          <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedLocation" id="Location"
            name="locations" placeholder="Select Location">
            <ng-option *ngFor="let location of locations" [value]="location.code">{{location.description}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <label for="titles" class="col-sm-2 col-form-label col-form-label-sm">Titles</label>
        <div class="col-sm-10">
          <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedTitle" id="titles" name="titles"
            placeholder="Select Title">
            <ng-option *ngFor="let title of titles" [value]="title.code">{{title.description}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <label for="bkpTitles" class="col-sm-2 col-form-label col-form-label-sm">Backup Titles</label>
        <div class="col-sm-10">
          <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedBkpTitle" id="bkpTitles"
            name="bkpTitles" placeholder="Select Backup Title">
            <ng-option *ngFor="let bkpTitle of bkpTitles" [value]="bkpTitle.code">{{bkpTitle.description}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <label for="csStatus" class="col-sm-2 col-form-label col-form-label-sm">Civil Service Status:</label>
        <div class="col-sm-10">
          <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedCsStatus" id="csStatus"
            name="csStatus" placeholder="Select Civil Service Status">
            <ng-option *ngFor="let csStatus of csStatuses" [value]="csStatus.code">{{csStatus.description}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="col-sm-10 offset-sm-2">
        <button class="btn btn-primary btn-sm float-left shadow" (click)="onSearch()"><i class="bi bi-search"></i>
          Search</button>
        <button class="btn btn-secondary btn-sm float-left ml-2 shadow" (click)="onClear()"><i class="bi bi-stars"></i>
          Clear</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary shadow">
    <i class="bi bi-grid"></i> Result <span *ngIf="resultsLength > 0"> {{resultsLength}}</span>
    <a class="btn btn-primary btn-xs float-right text-white shadow border-white" (click)="onExport()">
      <i class="bi bi-file-earmark-spreadsheet"></i>&nbsp;Spread Sheet</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Filter By</span>
          </div>
          <input type="text" class="form-control" (keyup)="applyFilter($event)"
            placeholder="EIN / Full Name / Role / LAN ID" #input>
        </div>
      </div>
      <div class="col-12">
        <div class="table-container table-responsive" [hidden]="resultsLength === 0">
          <table mat-table [dataSource]="data" matSort matSortActive="ein" matSortDisableClear matSortDirection="asc"
            matSort class="table table-hover table-bordered">
            <ng-container matColumnDef="ein">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">EIN</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">
                <a class="btn btn-link btn-xs" [routerLink]="['/staffDetail', row.ein]">{{row.ein}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="lastName" *ngIf="currentUser.roleID == 1 || currentUser.roleID == 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Last Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName" *ngIf="currentUser.roleID == 1 || currentUser.roleID == 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">First Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="preferredLastName" *ngIf="currentUser.roleID == 1 || currentUser.roleID == 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Preferred Last Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.preferredLastName}}</td>
            </ng-container>
            <ng-container matColumnDef="preferredFirstName" *ngIf="currentUser.roleID == 1 || currentUser.roleID == 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Preferred First Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.preferredFirstName}}</td>
            </ng-container>
            <ng-container matColumnDef="combinedLastName" *ngIf="currentUser.roleID !== 1 && currentUser.roleID !== 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Last Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.combinedLastName}}</td>
            </ng-container>
            <ng-container matColumnDef="combinedFirstName" *ngIf="currentUser.roleID !== 1 && currentUser.roleID !== 4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">First Name</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.combinedFirstName}}</td>
            </ng-container>
            <ng-container matColumnDef="rcName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">RC</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.rcName}}</td>
            </ng-container>
            <ng-container matColumnDef="dpName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">DP</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.dpName}}</td>
            </ng-container>
            <ng-container matColumnDef="csStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">CS Status</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.csStatus}}</td>
            </ng-container>
            <ng-container matColumnDef="payTitle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Title</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.payTitle}}</td>
            </ng-container>
            <ng-container matColumnDef="payTitleDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Title Date</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.payTitleDate}}</td>
            </ng-container>
            <ng-container matColumnDef="backupTitle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Backup Title</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.backupTitle}}</td>
            </ng-container>
            <ng-container matColumnDef="backupTitleDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Backup Title Date</th>
              <td mat-cell *matCellDef="let row">{{row.backupTitleDate}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Work Address</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.address}}</td>
            </ng-container>
            <ng-container matColumnDef="actionDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Action Date</th>
              <td mat-cell *matCellDef="let row">{{row.actionDate}}</td>
            </ng-container>
            <ng-container matColumnDef="actionReason">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap">Action Reason</th>
              <td mat-cell *matCellDef="let row" class="text-nowrap">{{row.actionReason}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true;" class="thead-light;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRows.add(row)"
              [class.demo-row-is-clicked]="clickedRows.has(row)" (click)="clearClickedRow(row)"></tr>
          </table>
        </div>
        <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="reportParam.pagination.pageSize"
          [pageSizeOptions]="pageSizeOptions" [hidden]="resultsLength === 0"></mat-paginator>
      </div>
    </div>
  </div>
</div>
