<div class="card border-info shadow">
  <div class="card-header text-white bg-info border-info shadow">
    <i class="bi bi-broadcast-pin"></i> Announcement
  </div>
  <div class="card-body carousel">
    <carousel [isAnimated]="true">
      <slide *ngFor="let announcement of announcementSummary">
        <div class="row mb-1">
          <div class="col-4">
            <img src="assets/Default.jpeg" alt="No Image" height="40px">
          </div>
          <div class="col-8">
            <a *ngIf="!!announcement.link" href="{{announcement.link}}" class="btn btn-link"><i class="bi bi-link-45deg"></i> {{announcement.title}}</a>
            <h5 *ngIf="!announcement.link">{{announcement.title}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-wrap text-truncate text-justify">{{announcement.content}}</p>  
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
