<div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card border-info shadow">
        <div class="card-header text-white bg-secondary border-secondary shadow">
          <i class="bi bi-flag"></i> Office of Human Resources Solutions (HRS)
        </div>
        <div class="card-body pb-0 pt-2">
          <ul class="list-unstyled text-primary">
            <li>
              <strong>Mission</strong>
              <p class="text-justify">Our mission is to support the human resources needs of the Department of
                Social Services, the Human Resources Administration, and the Department of Homeless Services through
                strategic partnership and collaboration, with the goal of creating an inclusive, motivated, and client
                centered workforce.</p>
            </li>
            <li>
              <strong>HRS Values</strong>
              <ul style="margin-left: 20px;">
                <li><b>P</b>eople-First </li>
                <li><b>I</b>ntegrity </li>
                <li><b>E</b>xcellence </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2" *ngIf="loginService.currentUser && !!loginService.currentUser.lanID">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="row mt-2" *ngIf="loginService.currentUser && !!loginService.currentUser.lanID">
    <div class="col-lg-4 mt-2">
      <app-ecard-chart></app-ecard-chart>
    </div>
    <div class="col-lg-4 mt-2" *ngIf="loginService.currentUser && !!loginService.currentUser.hasHeadcount">
      <app-headcount-chart></app-headcount-chart>
    </div>
    <div class="col-lg-4 mt-2"
      *ngIf="loginService.currentUser && !(loginService.currentUser.roleID === 5) && !!loginService.currentUser.hasTEAMS">
      <app-pending-cases-chart></app-pending-cases-chart>
    </div>
    <div class="col-lg-4 mt-2"
      *ngIf="loginService.currentUser && !(loginService.currentUser.roleID === 5) && !!loginService.currentUser.hasTEAMS">
      <app-case-count-by-year-chart></app-case-count-by-year-chart>
    </div>
    <div class="col-lg-4 mt-2"
      *ngIf="loginService.currentUser && !(loginService.currentUser.roleID === 5) && !!loginService.currentUser.hasTEAMS">
      <app-top-infraction-chart></app-top-infraction-chart>
    </div>
    <div class="col-lg-4 mt-2">
    </div>
  </div>
  <div class="row mt-2" *ngIf="loginService.currentUser && !!loginService.currentUser.lanID">
    <div class="col-lg-12">
      <div class="card border-info shadow">
        <div class="card-body text-info">
          <b>Human Resources Information System (HRIS)</b> provides management tools tokeep track of changes personnel
          information instantly. This availability of accurateand timely information will assist management in their
          ongoing operational decisionmaking and is an extension of HRS’s commitment to providing quality, useful
          products,overall excellence and professional customer service.
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
