<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary shadow">
    <i class="bi bi-tree-fill"></i> My Staff
  </div>
  <div class="card-body">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="onClick(node)">
        &nbsp;<i class="bi bi-caret-right"></i>&nbsp;{{node.item.name| titlecase}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="onClick(node)">
        &nbsp; <span mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
          <span
            [ngClass]="{'bi bi-caret-up-fill text-info': treeControl.isExpanded(node),'bi bi-caret-down-fill text-info':!treeControl.isExpanded(node)}"></span>
        </span>
        &nbsp;{{node.item.name| titlecase}}&nbsp;
        <mat-progress-spinner *ngIf="node.isLoading" mode="indeterminate" diameter="15" strokeWidth="2">
        </mat-progress-spinner>
      </mat-tree-node>
    </mat-tree>
  </div>
</div>
