<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary">
    <i class="bi bi-person-fill"></i> Manage Admin Users
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3 offset-9 mb-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddNew(addUser)">
          <i class="fa fa-plus-circle fa-fw text-warning"></i>Add New
        </button>
        &nbsp;
        <button type="button" class="btn btn-primary btn-sm" (click)="onExport()">
          <i class="fa fa-download fa-fw text-warning"></i>Export
        </button>
      </div>

      <div class="col-12">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Filter By</span>
          </div>
          <input type="text" class="form-control" (keyup)="applyFilter($event)"
            placeholder="EIN / Full Name / Role / LAN ID" #input>
        </div>
      </div>
      <div class="col-12">
        <div class="example-container table-responsive">
          <table mat-table [dataSource]="data" matSort matSortActive="created" matSortDisableClear
            matSortDirection="desc" matSort class="table table-hover">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
              <td mat-cell *matCellDef="let row">{{row.firstName}} {{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="ein">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>EIN</th>
              <td mat-cell *matCellDef="let row">{{row.ein}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
              <td mat-cell *matCellDef="let row">{{row.roleDesc}}</td>
            </ng-container>
            <ng-container matColumnDef="lanid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>LANID</th>
              <td mat-cell *matCellDef="let row">{{row.lanID}}</td>
            </ng-container>
            <ng-container matColumnDef="emailAddress">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row"><a href="mailto:{{row.emailAddress}}"> {{row.emailAddress}}</a></td>
            </ng-container>
            <ng-container matColumnDef="editOption">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row"><a class="btn btn-link btn-sm text-primary" #user
                  (click)="onEdit(addUser, row)"><i class="fa fa-pencil-square-o"></i>Edit</a></td>
            </ng-container>
            <ng-container matColumnDef="deleteOption">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row"><a class="btn btn-link btn-sm text-danger" #user
                  (click)="onDelete(deleteUser, row)"><i class="bi bi-x"></i>Delete</a></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true;" class="thead-light;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRows.add(row)"
              [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>
          </table>
        </div>
        <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="reportParam.pagination.pageSize"
          [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteUser>
  <div class="card border-primary">
    <div class="card-header text-warning bg-primary border-primary">
      Delete Confirmation <i class="bi bi-x-circle float-right" (click)="onCancelClick()"></i>
    </div>
    <div class="card-body">
      <h3>Are you sure you want to delete Employee ID ({{user.ein}})?</h3>
      <table class="table">
        <tr>
          <td>Name</td>
          <td><b>{{user.firstName}} {{user.lastName}}</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer border-top border-primary">
    <button class="btn btn-primary btn-sm col-3 float-right" (click)="onDeleteConfirm(user.ein)">Yes</button>
    <button class="btn btn-secondary btn-sm col-3 float-right mr-2 " (click)="onCancelClick()">No</button>
  </div>
</ng-template>

<ng-template #addUser>
  <form #f="ngForm">
    <div class="card border-primary">
      <div class="card-header text-warning bg-primary border-primary">
        {{userForm.title}} {{userForm.message}}<i class="bi bi-x-circle float-right" (click)="onCancelClick()"></i>
      </div>
      <div class="card-body">
        <div *ngIf="!userForm.inEditMode">
          <div class="row">
            <div class="form-check offset-3">
              <label for="defaultCheck1">
                Non-employee &nbsp; &nbsp;
              </label>
              <input type="checkbox" name="isSuper" [(ngModel)]="user.isSuper" id="isSuper"
                [disabled]="userForm.inEditMode">
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
              <div class="col-sm-10">
                <ng-select [items]="typeaheadSearchedUsers$ | async" bindLabel="name" [multiple]="false" bindValue="ein"
                  [clearSearchOnAdd]="true" [hideSelected]="true" [minTermLength]="2"
                  typeToSearchText="Please enter 2 or more characters" [typeahead]="typeaheadUserInput$"
                  [(ngModel)]="typeaheadSelectedUser" placeholder="Search Employee By Name or EIN"
                  (change)="onTypeaheadSelect($event)" name="typeaheadSelectedUser">
                </ng-select>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <!-- <div class="form-group row">
          <label for="firstName" class="col-sm-2 offset-1 col-form-label col-form-label-sm">EIN</label>
          <div class="col-sm-9">
            <input type="text" name="ein" class="form-control form-control-sm" id="ein" disabled
              [(ngModel)]="user.ein">
          </div>
        </div> -->
        <div class="form-group row">
          <label for="ein" class="col-sm-3 col-form-label col-form-label-sm">EIN</label>
          <div class="col-sm-9">
            <input type="text" name="ein" class="form-control form-control-sm" id="firstName" autocomplete="false"
              disabled [(ngModel)]="user.ein">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-3 col-form-label col-form-label-sm">First Name</label>
          <div class="col-sm-9">
            <input type="text" name="firstName" class="form-control form-control-sm" id="firstName" autocomplete="false"
              [disabled]="!user.isSuper || false" required [(ngModel)]="user.firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-3 col-form-label col-form-label-sm">Last Name</label>
          <div class="col-sm-9">
            <input type="text" name="lastName" class="form-control form-control-sm" id="lastName" autocomplete="false"
              [disabled]="!user.isSuper || false" required [(ngModel)]="user.lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lanID" class="col-sm-3 col-form-label col-form-label-sm">LAN ID</label>
          <div class="col-sm-9">
            <input type="text" name="lanID" class="form-control form-control-sm" id="lanID" required #lanID1="ngModel"
              [(ngModel)]="user.lanID">
            <code class="text-danger" *ngIf="!lanID1.valid && !lanID1.untouched">Valid LanID Required</code>
          </div>
        </div>
        <div class="form-group row">
          <label for="workEmail" class="col-sm-3 col-form-label col-form-label-sm">Work Email</label>
          <div class="col-sm-9">
            <input type="email" name="workEmail" class="form-control form-control-sm" id="workEmail" required
              [(ngModel)]="user.emailAddress" #email1="ngModel" email>
            <code class="text-danger" *ngIf="!email1.valid && !email1.untouched">Valid Email Required</code>
          </div>
        </div>
        <div class="form-group row">
          <label for="groups" class="col-sm-3 col-form-label col-form-label-sm">Groups</label>
          <div class="col-sm-9">
            <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedGroup" class="" id="groups"
              name="selectedGroup" placeholder="Select Group" required>
              <ng-option *ngFor="let group of groups" [value]="group.groupID">{{group.groupDescription}}</ng-option>
            </ng-select>
            <code class="text-danger"
              *ngIf="selectedGroup.length === 0 && (f.controls['selectedGroup'] !== undefined)?!f.controls['selectedGroup'].untouched:''">Group
              Required</code>
          </div>

        </div>
        <div class="form-group row">
          <label for="roles" class="col-sm-3 col-form-label col-form-label-sm">User Role</label>
          <div class="col-sm-9">
            <ng-select [multiple]="false" [hideSelected]="true" [(ngModel)]="user.roleID" class="" id="roles"
              name="roleID" placeholder="Select Role" required>
              <ng-option *ngFor="let role of roles" [value]="role.roleID">{{role.description}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="form-group row"
          *ngIf="user.roleID == 2 || user.roleID == 3 || user.roleID == 4 || user.roleID == 5">
          <button type="button" class="btn btn-outline-secondary btn-sm offset-7 col-3"
            (click)="onRCSelectAllClick()">{{getRCSelectLabel()}}</button>
        </div>
        <div class="form-group row"
          *ngIf="user.roleID == 2 || user.roleID == 3 || user.roleID == 4 || user.roleID == 5">
          <label for="rcs" class="col-sm-3 col-form-label col-form-label-sm">RC</label>
          <div class="col-sm-9">
            <ng-select [multiple]="true" [hideSelected]="true" [(ngModel)]="selectedRC" class="" id="rcs"
              name="selectedRC" placeholder="Select RC" (change)="onRCSelect($event)">
              <ng-option *ngFor="let rc of rcs" [value]="rc.code">{{rc.description}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="form-group row" *ngIf="user.roleID == 5">
          <button type="button" class="btn btn-outline-secondary btn-sm offset-7 col-3"
            (click)="onDPSelectAllClick()">{{getDPSelectLabel()}}</button>
        </div>
        <div class="form-group row" *ngIf="user.roleID == 5">
          <label for="rcs" class="col-sm-3 col-form-label col-form-label-sm">DP</label>
          <div class="col-sm-9">
            <ng-select [items]="filteredDPs" bindLabel="dpName" bindValue="dpCode" groupBy="rcCode"
              [(ngModel)]="selectedDP" [multiple]="true" [hideSelected]="true" (change)="onDPSelect($event)"
              placeholder="Select DP" id="dps" name="selectedDP">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.rcCode || 'Unnamed group'}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="card-footer border-top border-primary">
        <button class="btn btn-primary btn-sm col-3 float-right" type="submit"
          [disabled]="!f.valid || userForm.isBusy || !validateUserForm() || f.untouched" (click)="onSubmit(f)">Save</button>
        <button class="btn btn-secondary btn-sm col-3 float-right mr-2 " (click)="onCancelClick()"
          [disabled]="userForm.isBusy">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>
