<div class="card border-secondary">
  <div class="card-header text-white bg-secondary border-secondary shadow">
    <i class="bi bi-file-earmark-person-fill"></i> {{this.myInfoService.selectedTreeInfo.legalName??"" | titlecase}} -
    {{this.myInfoService.selectedTreeInfo.ein}}
  </div>
  <div class="card-body">
    <div class="card border-light mb-3">
      <div class="card-header">
        <div class="text-justify">To update your Emergency and Home Contact info please click <a target="_blank"
            href="https://a127-ess.nyc.gov/" class="btn btn-primary btn-sm">HERE</a> to open up NYCAPS.</div>
      </div>
      <div class="card-body">
        <p class="pl-3 text-justify">Please be reminded that updating contact info in NYCAPS will update your contact
          information for agency purposes, and will also update your address information at DCAS. However, Any change
          will <u>not</u> be sent to NYCERS. In order to update your contact information in NYCERS please use their
          website <u><a target="_blank" href="https://www.nycers.org">www.nycers.org</a></u> or call: 347-643-3000. </p>
      </div>
    </div>
    <div>
      <button class="btn btn-primary btn-xs float-right text-white shadow border-white" (click)="onExport()">
        <i class="bi bi-cloud-download"></i>&nbsp;PDF Document</button>
    </div>
    <div class="table-container table-responsive mt-3">
      <table class="table table-hover table-bordered table-sm">
        <tr>
          <th [colSpan]="2" class="text-center">
            <i class="bi bi-briefcase-fill"></i>&nbsp;Work Info </th>
          <th> Your Info </th>
          <th> Current Title Info </th>
        </tr>
        <tr>
          <th>Legal Name</th>
          <td>{{myInfoService.selectedTreeInfo.legalName}}</td>
          <th>RC</th>
          <td>{{myInfoService.selectedTreeInfo.rcCode}}<br>{{myInfoService.selectedTreeInfo.rcNameShort}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>
            {{myInfoService.selectedTreeInfo.workAddress}}<br>{{myInfoService.selectedTreeInfo.workCity}}{{myInfoService.selectedTreeInfo.workZipCode}}
          </td>
          <th>Disbursement</th>
          <td>{{myInfoService.selectedTreeInfo.disbCode}}-{{myInfoService.selectedTreeInfo.disbName}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td><a
              href="mailto:{{myInfoService.selectedTreeInfo.workEmail}}">{{myInfoService.selectedTreeInfo.workEmail | hrisEmptyValue}}</a>
          </td>
          <th>Program</th>
          <td>
            {{myInfoService.selectedTreeInfo.dpCode}} - {{myInfoService.selectedTreeInfo.dpName}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{myInfoService.selectedTreeInfo.workPhone??"" | hrisPhone}}</td>
          <th>Title</th>
          <td>{{myInfoService.selectedTreeInfo.payTitleCode}} - {{myInfoService.selectedTreeInfo.payTitle | hrisTrim}}
            {{myInfoService.selectedTreeInfo.payTitleLevel | hrisTrim}}
          </td>
        </tr>
        <tr>
          <th>Supervisor</th>
          <td>{{myInfoService.selectedTreeInfo.supervisor}}</td>
          <th>Title Date</th>
          <td>{{myInfoService.selectedTreeInfo.titleDate}}</td>
        </tr>
        <tr>
          <th>CityTime ID</th>
          <td>{{myInfoService.selectedTreeInfo.cityTimeID}}</td>
          <th>Civil Service Status</th>
          <td>{{myInfoService.selectedTreeInfo.csStatusCode}} - {{myInfoService.selectedTreeInfo.csStatus}}</td>
        </tr>
        <tr>
          <th [colSpan]="2" class="text-center">
            <i class="bi bi-house-fill"></i>&nbsp;Home Info
          </th>
          <th>Collective Bargain Unit</th>
          <td>{{myInfoService.selectedTreeInfo.collectiveBargain}}
            {{myInfoService.selectedTreeInfo.collectiveBargainDesc}}</td>
        </tr>
        <tr>
          <th><span *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">Address</span></th>
          <td>
            <span *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">
              {{myInfoService.selectedTreeInfo.homeAddress}}<br />
              {{myInfoService.selectedTreeInfo.homeCity}} {{myInfoService.selectedTreeInfo.zipCode}}
            </span>
          </td>
          <th>City Start Date</th>
          <td>{{myInfoService.selectedTreeInfo.cityDate}}</td>
        </tr>
        <tr>
          <th><span *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">Phone</span></th>
          <td><span
              *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">{{myInfoService.selectedTreeInfo.homePhone ?? "" | hrisPhone}}</span>
          </td>
          <th>Agency Start Date</th>
          <td>{{myInfoService.selectedTreeInfo.agencyDate}}</td>
        </tr>
        <tr>
          <th><span *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">Personal Email</span></th>
          <td><span
              *ngIf="!!myInfoService.selectedTreeInfo.homeAddress">{{myInfoService.selectedTreeInfo.personalEmail}}</span>
          </td>
          <th>Veteran Status</th>
          <td>{{myInfoService.selectedTreeInfo.vetStatus}}</td>
        </tr>
        <tr>
          <th [colSpan]="2" class="text-center">
            <i class="bi bi-people-fill"></i>&nbsp;Emergency Info
          </th>
          <th>Pension Tier</th>
          <td>{{myInfoService.selectedTreeInfo.penTier}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{myInfoService.selectedTree_Emergency_Info.name}}</td>
          <th>Earned Paid<br />Overtime Calendar<br />Year to Date</th>
          <td>{{myInfoService.selectedTree_Overtime_Info.oT_YTDAmt | currency}}</td>
        </tr>
        <tr>
          <th>Relationship</th>
          <td>{{myInfoService.selectedTree_Emergency_Info.relationship}}</td>
          <th>Earned Paid<br />Overtime Calendar<br />Year to Date Hours and<br />Minutes Worked HH.MM</th>
          <td>{{myInfoService.selectedTree_Overtime_Info.oT_YTDHrs}}</td>
        </tr>
        <tr>
          <th>Primary Phone</th>
          <td>{{myInfoService.selectedTree_Emergency_Info.primaryPhone??"" | hrisPhone}}</td>
          <th>Earned Comp Time<br />HH.MM YTD</th>
          <td>{{myInfoService.selectedTree_Overtime_Info.compYTD}}</td>
        </tr>
      </table>
      <div class="card border-light mt-3">
        <div class="card-header">
          <div class="text-justify">To update your Emergency and Home Contact info please click <a target="_blank"
              href="https://a127-ess.nyc.gov/" class="btn btn-primary btn-sm">HERE</a> to open up NYCAPS.</div>
        </div>
        <div class="card-body">
          <p class="pl-3 text-justify">Please be reminded that updating contact info in NYCAPS will update your contact
            information for agency purposes, and will also update your address information at DCAS. However, Any change
            will <u>not</u> be sent to NYCERS. In order to update your contact information in NYCERS please use their
            website <u><a target="_blank" href="https://www.nycers.org">www.nycers.org</a></u> or call: 347-643-3000.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
